absl-py==0.1.10
astor==0.8.1
astroid==1.6.1
bleach==3.1.2
Click==7.0
Flask==1.1.1
gast==0.3.2
grpcio==1.26.0
h5py==2.10.0
html5lib==0.9999999
imutils==0.4.5
isort==4.3.3
itsdangerous==1.1.0
Jinja2==2.10.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.14.0
opencv-python==3.4.0.12
protobuf==3.11.2
pylint==1.8.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.15.2
termcolor==1.1.0
Werkzeug==0.16.0
wrapt==1.10.11
